body {
padding-left: 10px;
padding-left: 10px;
}


iframe {
  margin-left: -15px;
  margin-right: 0px;
  width: 105%;
  height: auto;
}

img {
  margin-left: -15px;
  margin-right: 0px;
  width: 105%;
  height: auto;
}

.content-wrapper {
    background-color: #90C;

}